In [1]:
import pandas as pd
import numpy as np

pd.read_csv("matriz_sin_path.csv")

     Unnamed: 0     0     1     2     3     4     5     6     7     8     9
0         index     0   665   766   917   158   454   886  1151    96  1054
1         index     1  1189   571   708   278   955  1090   345   624   935
2         index     2    14  1297   291   316   460   336   269   256  1064
3         index     3   426  1084   405  1338  1275   538   300  1257   506
4         index     4  1211  1198  1303  1220  1215  1293     9  1200    13
...         ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
1358      index  1358  1191  1298   701    23   930  1227  1361   951   592
1359      index  1359  1266  1354  1303  1355  1290  1293    34  1270  1272
1360      index  1360   555   985   500  1121   322  1116   441   984  1052
1361      index  1361    21  1298  1282  1268  1279    23    33     7   814
1362      index  1362  1188  1233  1193  1229  1260  1271  1293  1281  1359

[1363 rows x 11 columns]